<div class="container">
  <div class="row justify-content-center m-4">
    <div class="h3 font-weight-bold title text-danger">
      {{title}}
    </div>
  </div>
  <div class="row align-items-center justify-content-center">
    <div class="container-fluid mt-4">
      <h5>
        Join a class
      </h5>
      <form method="GET" action="/u/join">
        <div class="input-group mb-3">
          <input
            type="text"
            class="form-control form-control-lg"
            placeholder="Class code"
            name="classCode"
            style="border-radius: 1rem 0rem 0rem 1rem;"
          />
          <div class="input-group-append">
            <button
              class="btn btn-danger"
              type="submit"
              style="border-radius: 0rem 1rem 1rem 0rem;"
            >
              Join
            </button>
          </div>
        </div>
      </form>
      <br/>
      <p>Wanna organize and manage your own class?</p>
      <a href="/u/create" class="btn btn-danger btn-lg rounded-2">Create new class</a>
    </div>
  </div>
</div>